scratch.json
.DS_Store
bicep/.DS_Store
bicep/lexdemo_202412261902.zip
bicep/lexdemodb_2024_12_03-04-53.bacpac
scratch.json
bicep/all_bicep.txt
scratch.json
bicep/modules/aaaaa.bicep
bicep/CLAUDE.md
removed-scripts.log
